$mainColor: #8a2be2;
.nav {
  display: flex;
  position: sticky;
  width: 100%;
  justify-content: space-between;
  background-color: #ffb85a;
  // background-color: #001e4e;
  padding: 1px;
  margin: 0;
  h1 {
    color: $mainColor;
    a {
      text-decoration: none;
    }
  }
  .nav-search {
    margin-top: 10px;
    display: flex;
    flex: 1;
    margin-left: 5%;
    margin-right: 5%;
    input {
      flex: 1;
      color: $mainColor;
      border: 1px solid $mainColor;
      height: 35px;
      border-right: 0px;
    }
    button {
      color: $mainColor;
      border: 1px solid $mainColor;
      height: 35px;
      border-left: 0px;
    }
  }
  ul {
    display: inline-flex;
    list-style-type: none;

    li {
      padding-left: 15px;
      padding-top: 10px;
    }
    a {
      text-decoration: none;
      color: $mainColor;
      cursor: pointer !important;
    }
  }
}

.suggested-search {
  position: absolute;
  top: 40px;
  z-index: 10;
  display: list-item !important;
  border: 1px solid #ddd;
  background-color: #ddd;
  width: 300px;
}
.suggested-search li {
  padding: 5px;
  border: 1px solid #ddd;
}
.suggested-search li a {
  cursor: pointer;
  color: blueviolet;
}
.collection {
  width: 100%;
  background-color: antiquewhite;
  border: 1px solid rgb(133, 133, 133);
  margin-bottom: 0;
  padding: 2;
  .flex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    
  }
}
.collection-div{
    text-align: center;
    li{
        margin: 0;
        padding: 0;
    }
}
input{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  // padding: 5px;
}
button{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  // padding: 5px;
}