<footer class="footer text-center" >
    <!-- Grid container -->
    <div class="container pt-1">
      <!-- Section: Social media -->
      <section class="">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.facebook.com/" target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="diversity_3"></mat-icon>
        </a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://twitter.com/"
          role="button"
          data-mdb-ripple-color="dark"
          ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="forum"></mat-icon>
        </a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.google.com/" target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="manage_search"></mat-icon>
        </a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/" target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="movie"></mat-icon>
        </a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/" target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="work_history"></mat-icon>
        </a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/" target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="forum"></mat-icon>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-1" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="https://google.com/">jobissjo.com</a>
    </div>
    <!-- Copyright -->
  </footer>