<div class="profile-conteiner">
  <div class="profile-header">
    <div class="img-container">
      <img class="round-image" src="../assets/images/download.png" />
    </div>
    <h4>{{ user.name }}</h4>
  </div>
  <div class="profile-info">
    <h4>Personal Information</h4>
    <div class="details">
      <!-- <div> -->
        <p>Email: {{ user.email }}</p>
        <p>Phone: 0987654321</p>
      <!-- </div> -->
    </div>
    <h4>Other Information</h4>
    <div class="details">
        <a [routerLink]="'/my-orders'"><p>My Orders</p></a> <a routerLink="/cart">Cart Page</a>
    </div>
    <h4>Change Password</h4>
    <div class="details">
        <input #cpassword type="password" name="password" id="" [disabled]="isNotChange"><button *ngIf="isNotChange" (click)="edit()">Edit</button>
        <button (click)="changePassword(cpassword.value)" *ngIf="!isNotChange">Change</button>
        <p class="error" *ngIf="errorMsg">{{errorMsg}}</p>
        <p class="success_msg" *ngIf="successMsg">{{successMsg}}</p>
    </div>
  </div>
</div>
