.cart-page {
  margin: 40px 0;
}
.details {
  border: 1px solid #ddd;
  ul {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid #ddd; */
    padding-top: 15px;
    margin: 3px 0;
  }
  img {
    width: 150px;
    height: 150px;
  }
  // button {
  //   padding: 5px;
  //   border: 1px solid blueviolet;
  //   color: blueviolet;
  // }
}
.summary {
  ul {
    border: 1px solid #ddd;
    list-style-type: none;
    padding: 15px;
    li {
      display: flex;
      justify-content: space-between;
    }
  }
}
.checkout-btn {
  min-width: 100%;
  max-width: 100%;
  padding: 5px;
  border: 1px solid blueviolet;
  color: blueviolet;
}
.row{
  padding: 0;
  margin: 0;
}
input{
  width: 50px;
  min-height: 35px !important;
  border: 1px solid blueviolet;
  border-right: 0px;
  border-left: 0px;
  text-align: center;
}
input:focus, input:hover{
  border-right: 0px !important;
  border-left: 0px !important;
}
.min-btn{
  min-height: 35px !important;
  border-right: 0px !important;
  border: 1px solid blueviolet;
  // margin-top: -3px;
}
.plus-btn{
  min-height: 35px !important;
  border-left: 0px !important;
  border: 1px solid blueviolet;
}
.remove-btn{
  border: 1px solid blueviolet;
  padding: 5px 3px;
  border-radius: 5px;
}