<div class="cart-page" *ngIf="cartData?.length">
    <h1 class="text-center">Cart Page</h1>
    <div class="row">
        <div class="col-sm-8 details">
            <ul *ngFor="let item of cartData">
                <li><img src="{{item.image}}" alt=""></li>
                <li><span>{{item.name}}</span></li>
                <li><span>Price : {{item.price}}</span></li>
                <li><span>Quantity: {{item.quantity}}</span></li>
                <li><button class="remove-btn" (click)="removeFromCart(item.id)">Remove from Cart</button></li>
                <div class="quantity-group" *ngIf="!showRemoveCart">
                    <button (click)="handleQuantity('min',item.id)" class="min-btn">-</button>
                    <input class="" type="text" [value]="item?.quantity">
                    <button (click)="handleQuantity('plus',item.id)" class="plus-btn">+</button>
                </div>
            </ul>
            <ul>
                
            </ul>
        </div>
        <div class="col-sm-4 summary">
            <h3 class="text-center">Summary</h3>
            <ul>
                <li><span>Amount: </span> <span>{{priceSummary.price}}</span></li>
                <li><span>Tax:</span> <span> {{priceSummary.tax}}</span></li>
                <li><span>Delovery:</span> <span> {{priceSummary.delivery}}</span></li>
                <li><span>Discount:</span> <span> {{priceSummary.discount}}</span></li>
                <li><span><h4>Total:</h4></span><span><h4>{{priceSummary.total}}</h4></span></li>
                <button (click)="checkout()" class="checkout-btn">Checkout</button>
            </ul>
        </div>
    </div>
</div>
<div *ngIf="!cartData?.length" class="no-cart">
    <h1 class="text-center">Cart Page</h1>
    <div class="row">
        <div class="text-center">
            <h4 class="text-center">No products available in cart</h4>
            <a routerLink="/">Browse to add product</a>
        </div>
    </div>
</div>