$borderColor:#ddd;

h3{

    text-align: center;
    background-color: #b9e2fd;
    margin-top: 0;
    padding: 5px;
    margin-bottom: 10px;
    color: #141414;
}
.collection-item {
    width: 800px;
    margin: 10px auto;
    border: 1px solid blueviolet;
    padding: 15px;
    
    img{
        width: 100%;
        object-fit: contain;
        height: 150px;
    }
    h6{
        color: blueviolet;
        font-size: 24px;
    }
    p{
        margin-bottom: 5px;
    }
    span{
        margin-right: 10px;
    }
}
.card {
    width: 500px !important;

}
.no-product{
    width: 500px;
    margin: auto;
}