<div class="user-auth text-center">
  <div class="user-signup" *ngIf="!showLogin">
    <h1 class="text-center">User SignUp</h1>
    <form  [formGroup]="loginForm" #form="ngForm" (ngSubmit)="signUp(form.value)">
      <!-- #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)" -->
      <div>
        <input
          class="input-field"
          type="text"
          name="name"
          placeholder="Enter user name"
          formControlName="name"
        />
      </div>
      <span class="error_msg" *ngIf="loginForm.get('name')?.invalid && loginForm.get('name')?.touched">
        name field is required
      </span>
      <div>
        <input
          class="input-field"
          type="email"
          name="email"
          placeholder="Enter your email"
          formControlName="email"
        />
      </div>
      <span class="error_msg" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        Email field is not the correct form
      </span>
      <div>
        <input
          class="input-field"
          type="password"
          name="password"
          placeholder="Enter your password "
          formControlName="password"
        />
      </div>
      <span class="error_msg" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Password should be minimum 8 length
      </span>
      <div>
        <button type="submit" x class="btn btn-info">SignUp</button>
      </div>
    </form>
    <p>Already Have a Account? <a (click)="openLogin()">Click to Login</a></p>
  </div>
  
  <div class="user-login" *ngIf="showLogin">
    <h1 class="text-center">User Login</h1>
    <p class="invalid-input" *ngIf="authError" [innerHTML]="authError"></p>
    <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">
      <div>
        <input
          class="input-field"
          type="email"
          name="email"
          placeholder="Enter your email"
          ngModel
          #email="ngModel" required
          email
        />
        <p><span class="invalid-input" *ngIf="email.invalid && email.touched">Please enter valid email</span></p>
      </div>
      <div>
        <input
          class="input-field"
          type="password"
          name="password"
          placeholder="Enter your password "
          ngModel
          minlength="8"
          #password="ngModel"
          required
        />
        <p><span class="invalid-input" *ngIf="password.invalid && password.touched">Password minimum length should be 8</span></p>
      </div>
      <button [disabled]="loginForm.invalid" type="submit" x class="btn btn-info">Login</button>
    </form>
    <p>Not Have a Account? <a (click)="openSignUp()">Click to SignUp</a></p>
  </div>
</div>
