<!-- This is home -->
<ngb-carousel class="" *ngIf="popularProducts && popularProducts.length > 0">
    <ng-template *ngFor="let item of popularProducts" ngbSlide>
        <div class="picsum-img-wrapper">
			<img class="product-header-image" src="{{item.image}}" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>{{item?.name}}</h3>
			<p>{{item?.description}}</p>
		</div>
    </ng-template>
</ngb-carousel>
<div class="product-list-wrapper">
    <h1>Trending Products</h1>
    <div class="row" style="margin: 0; padding: 0;">
        <div class="col-sm-3" *ngFor="let item of trendyProducts">
            <div class="product-item">
                <div class="prod-image">
                    <img  src="{{item.image}}">
                </div>
                
                <div class="product-details">
                    <h6 class="prod-name">{{item.name}}</h6>
                    <div class="prod-price">Price: {{item.price}}</div>
                    <div class="prod-color">Color: {{item.color}}</div>
                </div>
                <div class="product-footer">
                    <a routerLink="/details/{{item.id}}" class="btn btn-info ">View Details</a>
                    <div>
                        <a *ngIf="!itemIds?.includes(item.id) && (!currentUser || (!itemInLocalCartProductId?.includes(item.id)))" class="btn btn-warning " (click)="addCart(item)">Add to Cart</a>
                        <a *ngIf="(itemIds?.includes(item.id) && (currentUser )) || ((itemInLocalCartProductId?.includes(item.id)) && (!currentUser ))" class="btn btn-outline-success " [routerLink]="'cart'">Go to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
