<div class="add-product-container">
  <div class="text-center">
    <form  #addProduct="ngForm" (ngSubmit)="updateProduct(addProduct.value)">
      <h1 class="text-center">Update Product</h1>
      
      <div class="input-field">
        <input
          type="text"
          name="name"
          placeholder="Enter Product Name"
          ngModel="{{ productData?.name }}"
        />
      </div>
      <div class="input-field">
        <input
          type="text"
          name="price"
          placeholder="Enter Product Price"
          ngModel="{{ productData?.price }}"
        />
      </div>
      <div class="input-field">
        <input
          type="text"
          name="color"
          placeholder="Enter Product Color"
          ngModel="{{ productData?.color }}"
        />
      </div>
      <div class="input-field">
        <input
          type="text"
          name="category"
          placeholder="Enter Product Category"
          ngModel="{{ productData?.category }}"
        />
      </div>
      <div class="input-field">
        <textarea
          name="description"
          cols="30"
          rows="2"
          placeholder="Enter Product Description"
          ngModel="{{ productData?.description }}"
        ></textarea>
      </div>
      <div class="input-field">
        <input
          type="text"
          name="image"
          placeholder="Enter Image url"
          ngModel="{{ productData?.image }}"
        />
      </div>
      <button type="submit" class="btn btn-outline-success">
        Update Product
      </button>
    </form>
  </div>
</div>
<!-- <div class="message_update">
  <div aria-live="polite" toastContainer></div>
</div> -->